body > div.navbar, 
#entra a { 
	background: white;
}
#entra a {
	color: black;
}
#registrate {
	background: #06A5DF;
}
#registrate a {
	color: white;
}
#mainBanner {
	margin-top: 50px;
	width: 100%; 
}
div.marketing-box img {
	margin: 0 auto;
	display: block;
}
div h2 {
	display: inline;
}
.navbar-brand img {
	max-height: 22px !important;
}
.navbar-inverse {
	border: none;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus, 
div.tab-content > div.tab-pane {
	background: rgba(138,232,204,0.8);
	background: rgba(0,0,0,0.5);
	border: 1px solid transparent;
	position: relative;
	top: 2px !important;
	padding: 20px;
}
div.tab-content > div.tab-pane {
}
.nav > li > a:hover, .nav > li > a:focus {
	padding: 20px;
}
div.tab-content > div.tab-pane div.input-group {
	max-width: 50%;
}
.nav-tabs > li > a { 
	text-align: center;
	color: white !important;
	padding: 20px;
}
.nav-tabs > li > a img { 
	display: block;
	margin: 0 auto;
}
.nav > li > a:hover, .nav > li > a:focus {
	border: 1px solid transparent;
	background-color: rgba(0,0,0,0.2);
}
.nav-tabs {
	border-bottom: none;
}
#search {
	position: absolute;
	top: 100px;
	left: 50px;
}
footer {
	position: fixed;
	bottom: 0;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
	background: rgba(138,232,204,1);
}
.btn-default {
	color: #333333;
	background-color: #ffffff;
	border-color: transparent;
}



@media (max-width: 740px) {
	.nav-tabs > li > a img { 
		width: 30% !important;
	}
}
